[Desktop Entry]
Name=QtDomTerm
Type=Application
GenericName=Terminal emulator

Comment=Terminal emulator

Icon=utilities-terminal
Exec=qtdomterm
Terminal=false
Categories=Qt;System;TerminalEmulator;
