@import "kawa.css";

body { 
  position: relative;
  padding-left: 25%;
  margin-right: 1em;
  padding-right: 0;
  border: 0;
}

div.navbar {
  position: absolute;
  top: 112px; right: 0.2em; bottom: 0em; left: 0.2em;
  height: auto;
  overflow: auto;
}

div.navcol { 
  position: absolute;
  width: 25%;
  top: 0em; right: 0em; bottom: 0em; left: 0em;
 }

/* The child selectors are a hack to hide these rules from WinIE6,
   which gets confused by 'fixed' */
body>div.navcol { 
  position: fixed ;
}
