@import "kawa.css";

@media (min-width: 60em) {
body {
  position: relative;		/* Make containing block for the menus */
  padding: 2em 17em 5em 2em;	/* Room for banner at the top */
  margin: 0 }			/* 17em is too much, but IE6 needs it */
html>body {
  padding-right: 14em }		/* 14em overrides the 17em above */

div.navbar {
  position: absolute;
  top: 6em; right: 0.2em; bottom: 0em; left: 0.2em;
  height: auto;
  overflow: auto;
}

div.navcol{ margin-left: 30px; }

div.navcol { 
  position: absolute;
  width: 12.5em; 
  top: 0em; right: 0em; bottom: 0em;
 }

/* The child selectors are a hack to hide these rules from WinIE6,
   which gets confused by 'fixed' */
body>div.navcol { 
  position: fixed ;
}
} /* end @media */
