/*
 * Stylesheet for Kawa and Qexo web sites.
 *
 * Loosely based on W3C "Gold (right, fix) + navbar" stylesheet"
 * Copyright © 2003 W3C® (MIT, ERCIM, Keio). All Rights Reserved.
 * See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright
 * Author: Bert Bos <bert@w3.org>
 */

/* Colors, fonts and other basic stuff */

body {
  background: #fffff5;
  color: #333;
  font-family: verdana, helvetica, sans-serif;
  line-height: 1.2;
}
h1 {
  line-height: 1;
  text-align: center;
  padding: 0 0.5em 0.2em 0.5em;
  font-weight: normal }
a {
  border-style: none;
  text-decoration-color: #66f }
a:link, a:visited {
    background: #f4f4e4;
    color: inherit; }
div.toc-sidebar a {
    background: inherit
}
h1, h2, h3, h4 {
    color: #000;
    clear: right
}
h1, h2, h3, h4.subheading, h4.subsection {
  font-weight: bold;
  background-color: #e8f8f8;
  padding: 0.5ex 0.5em 0.3ex 0em;
}
h4.subheading, h4.subsection {
  display: table;
}

h3 {
  font-size: large;
  margin: 1.5em 1em 1em 0
 }
body>div.section-level-extent h3.section {
    text-align: center; font-size: x-large
}
h3.subtitle {
  font-weight: normal;
  font-style: italic;
  margin: 1em;
  display: block;
  text-align: center }
h4 { font-size: medium; }
h2 {
  text-align: center;
  line-height: 1;
  clear: both; }
h1, h2 {
  margin-top: 2ex
}
div.section {
  clear: both }
pre {
  text-align: left }		/* Safari 1.0b doesn't do this by default */
li {
  padding-left: 0;
  margin-left: 0 }
ul, ol {
  padding-left: 0;
  margin-left: 1.5em }
address { 
  text-align: right;
  font-style: italic }
p {
  margin-top: 0.6ex;
  margin-bottom: 0 }
dd {
  padding-left: 1.5em;
  margin-bottom: 0.2ex;
  margin-left: 0 }
div.back {
  clear: both }

/* Some specific classes */

span.date {
  color: #999 }
span.date:after {
  content: "\A0\A0" }
p.stb {				/* Small thematic break */
  text-indent: 0;
  margin-top: 0.6em }
p.hint + p, p.alt-hint + p {
  text-indent: 0;
  margin-top: 1em }
p.remark {
  font-size: smaller}
.hide {
  display: none;
  color: white }
div.endmatter {
  clear: both;
  margin-top: 1em;
  border-top: thin solid;
  padding-top: 1em }
/*
ul.toc {
  list-style: none }
address img {
  float: right;
  margin-left: 0.5em;
  width: 4em }
*/
dl.compact {			/* A DL as a single para, with ¶ */
  padding: 0;
  margin-left: 0;
  margin-right: 0 }
dl.compact dt {
  display: run-in;
  font-weight: bold;
  margin: 0;
  padding: 0 }
dl.compact dd {
  margin: 0;
  padding: 0 }
dl dt {
  padding: 0;
  margin: 0;
}
dl dd {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1ex;
}

/* Give the body some margins to make room for the two menus */

/*
html {
  margin: 0 }
*/

span.ignore { display: none }

body div#slider {
    background: #e8f0dcc0;
}
#slider div.toc-sidebar nav, #slider  div.toc-sidebar header,  #slider *.sidebar-hider {
    background: #e8f0dce0;
}

/* Local navigation menu, along the left or right side */

div.toc-sidebar hr {			/* Hide the HR inside the menu */
  display: none }

div.toc-sidebar li {
  display: block;
  font-size: medium;
  text-indent: 0;
  text-align: left;
  border: solid;
  border-width: 1px 0px 0px 1px;
  border-color: #AAA #666 #666 #AAA;
  list-style: none }		/* Remove triangle from H2 */
div.toc-sidebar nav > ul > li {
    border-left: 0px;
}
.sidebar-hider {
    border-style: solid;
    border-color: #AAA;
}
div.navbar > ul {
  padding: 0 }
div#Menu p.navhead {
  font-weight: bold }

div.toc-sidebar ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

div.toc-sidebar li { margin: 0 ; }
div.toc-sidebar ul ul { margin-left: 0.6em; }

div.toc-sidebar div.toc li, body[show-sidebar="yes"] .sidebar-hider {
    padding: 0px 0px 0px 2px;
}
div.toc-sidebar div.toc a { display: block; }

div.toc-sidebar a { text-decoration: none; }
/* The following is redundant, but is needed for IE 6.0. */
div.navheader ul a { text-decoration: none; }

div.toc-sidebar a:hover, a:hover, a.logo:hover, div.logo:hover, #slider .sidebar-hider:hover
{
color: #fff;
background: #608090;
}

div.navheader table, div.navheader tr, div.navheader th { 
  display: block;
}

div.navheader td { 
  display: block;
}

div.navheader  { 
  margin: 2ex 0;
  background-color: lightblue;
 }
div.navheader {  border: 2px red }
div.navheader a { 
  display: block;
  text-decoration: underline;
 }

div.toc-sidebar *.logo {
  box-sizing: border-box;
  font-size: xx-large
}
div.logo {
    width: 100%; min-height: 120px;
}
div.toc-sidebar header > a img {
    float: right;
    padding: 4px 2px;
    width: 45%;
}
div#slider div.toc-sidebar header {
    padding: 0px;
}
div#slider div.toc-sidebar div.toc {
    padding: 0px;
}

code[class="literal"] strong { color: purple }
p[class="synopsis"] code strong { color: purple }
p[class="synopsis"] code[class="function"] { color: purple }
p[class="synopsis"] code[class="varname"] { color: purple }
dl.def > dt strong { color: purple }

p[class="synopsis"][kind="Procedure"] code[class="function"]:before,
  p[class="synopsis"][kind="Predicate"] code[class="function"]:before,
  p[class="synopsis"][kind="Constructor"] code[class="function"]:before,
  p[class="synopsis"][kind="Syntax"] code[class="function"]:before
{ content: "("; font-weight: bold; font-family: monospace; color: purple; }
p[class="synopsis"][kind="Procedure"]:after,
  p[class="synopsis"][kind="Predicate"]:after,
  p[class="synopsis"][kind="Constructor"]:after,
  p[class="synopsis"][kind="Syntax"]:after
{ content: ")"; font-weight: bold; font-family: monospace; color: purple }

p.synopsis span.kind, dl.def span.category { float: right; padding-left: 2em }
p.synopsis span.kind { content: "[" }
p.synopsis span.kind:before, dl.def span.category:before { content: "[" }
p.synopsis span.kind:after, dl.def span.category:after { content: "]" }
p.synopsis > code { font-weight: bold; }
blockquote { margin-left: 40px; margin-right: 40px }

div[class="toc-sidebar"] div > ul > li { font-size: larger }

div.subsection div.header { display: none }

/* *[accesskey]:after {content:' [' attr(accesskey) ']'} */

img { padding: 6px; width: 100% }
@media (min-width: 50em) {
    img { float: right; width: 50% }
}
