/* Optional - user-overridable styling */

span[breaking="yes"][line="soft"]:before {content: "\2936" "\A"; }
/* Suggested by Tufte CSS - less harsh than pure white. */
div.domterm { background-color: #fffff8 }
/* Tufte CSS suggests: Consolas, "Liberation Mono", Menlo, Courier, monospace
   However, the first four in that list cause some vertical spacing issues,
   including background-color not being full-height.
   Check with tests/256-colors.sh. */
/*div.domterm-pre { font-family: monospace } This is the default */
span[std="input"] { background-color: #FFFFD0 } /* a pale yellow */
span[std="prompt"] { background-color: #E0FFE0 } /* a pale green */
span[std="error"] { color: red; }
span[std="hider"]:hover { background-color: yellow; color: red; cursor: pointer }
