/* Based on goldenlayout-light-theme.css from GoldenLayout distribution.
 * Various tweaks for DomTerm.
 */
.lm_stack .lm_items {border:1px solid #cccccc; box-sizing: border-box }
.lm_stack.lm_focused .lm_items { border-color: var(--focused-pane-color); }
div.lm_goldenlayout.lm_root { background: transparent }
/*
.lm_content { border-width: 1px; border-style: solid; }
.lm_content, div.domterm.lm_content, iframe.domterm-wrapper.lm_content { border-color: #cccccc; box-sizing: border-box }
*/
.domterm-wrapper { width: 100%; flex: 1 1 0; max-height: 100%; }
.menubar { position: relative }
body { --focused-pane-color: magenta}
iframe.domterm-wrapper { border: none }
/*
.lm_stack{background:#e1e1e1;border:2px solid pink } / *#cccccc}* /
div.domterm-active div.lm_stack{background:#e1e1e1;border:2px solid magenta}
*/
.lm_dragProxy .lm_content{box-shadow:2px 2px 4px rgba(0,0,0,0.2);box-sizing:border-box}
.lm_dropTargetIndicator{box-shadow:inset 0 0 30px rgba(0,0,0,0.4);outline:1px dashed #cccccc;margin:1px;transition:all 200ms ease}
.lm_dropTargetIndicator .lm_inner{background:#000000;opacity:.1}
.lm_header, .dt-titlebar {height:20px}
.lm_header { display: flex; }
.lm_header, .dt-titlebar { background-color:#d8d0d0}
.lm_tab {cursor:pointer; }
body.focused .lm_header.lm_focused,
body.focused .dt-titlebar { background-color:#f0d8e8; }
body[reverse-video].focused .dt-titlebar { background-color:#f0d8e8; }
body[reverse-video] .lm_header, body[reverse-video] .dt-titlebar { background-color: #606060; color: white; }
body[reverse-video].focused .dt-titlebar,
body[reverse-video].focused .lm_header.lm_focused { background-color: #101010; }
.lm_header .lm_tab, .lm_header .lm_tabdropdown_list {font-family:Arial,sans-serif;font-size:12px;color:#888888;background:#fafafa;margin-right:2px;padding-bottom:3px;border-bottom:none; }
.lm_header .lm_tab,
  .lm_header .lm_tabdropdown_list > .lm_title{border:1px solid gray }
.lm_header .lm_tabs .lm_tab {border-radius: 5px 5px 0px 0px;
                            border-style: solid;
                            border-width: 1px 1px 0px 1px; }
.lm_header .lm_tabs { padding-top: 1px }
section.lm_header .lm_tab.lm_active{border-color: var(--focused-pane-color)}
span.domterm-windowname {display: inline; font-style: italic;}
span.domterm-windowname { color: #777777}
body[reverse-video] span.domterm-windowname { color: #d0d0d0; }
section.lm_header li.lm_tab span.domterm-windowname,
div.lm_row section.lm_header li.lm_tab.lm_active span.domterm-windowname {
    display: none }
.lm_tab .lm_active{border:1px solid gray}
.lm_header .lm_tab .lm_title{padding-top:1px}
.lm_header .lm_tab .lm_close_tab{width:11px;height:11px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAIklEQVR4nGNgYGD4z4Ad/Mdg4ODDBXCZRFgCp5EEHQMXBwAQAgz0SVCcggAAAABJRU5ErkJggg==);background-position:center center;background-repeat:no-repeat;right:6px;top:4px;opacity:.4}
.lm_header .lm_tab .lm_close_tab:hover{opacity:1}
.lm_tab { box-shadow: none !important }
.lm_header .lm_tab.lm_active{border-bottom:none; padding-bottom:3px}
.lm_header .lm_tab.lm_active .lm_close_tab{opacity:1}
.lm_tab:hover {background:#e1e1e1;color:#777777}
div.lm_tab.lm_focused {color: var(--focused-pane-color)}
.lm_header .lm_controls .lm_tabdropdown:before{color:#000000}
.lm_controls>li{position:relative;background-position:center center;background-repeat:no-repeat;opacity:.4;transition:opacity 300ms ease}
.lm_controls>li:hover{opacity:1}
.lm_popin:hover .lm_icon{opacity:1}
